<div class="container">
  <h2>Registro</h2>

  <input [(ngModel)]="perfil.email" type="text" class="email" placeholder="Correo Electrónico">
  <br />
  <input [(ngModel)]="perfil.password" type="password" class="pwd" placeholder="Contraseña">
  <br />
  <input [(ngModel)]="confirmpassword" type="password" class="pwd" placeholder="Confirmar Contraseña">
  <br />
  <input [(ngModel)]="perfil.description" type="text" class="email" placeholder="Agrega una pequeña descripción">
  <br />
  <input [(ngModel)]="perfil.day" type="text" class="birthday" placeholder="Día de Nacimiento (Ej: 19)">
  <br />
  <input [(ngModel)]="perfil.month" type="text" class="birthday" placeholder="Mes de Nacimiento (Ej: 06)">
  <br />
  <input [(ngModel)]="perfil.year" type="text" class="birthday" placeholder="Año de Nacimiento (Ej: 2001)">

  <a href="#" class="link">
    ¿Olvidaste tu contraseña?
  </a>
  <br />
  <button class="register">
    <span>Registrar</span>
  </button>
  <button class="signin" routerLink="/login">
    <span>Entrar</span>
  </button>
</div>

